<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <title>Vue-js | Django</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="description" content="A simple crud app made with the vue js and django">
<meta name="keywords" content="vuejs, django, crudapp, restapi">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
.title-box {
    padding: 3rem 1.5rem 2rem;
    text-align: center;
}

.btn-nueva {
  margin: 2px 0 14px 0;
}
</style>


</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 





<div class="container">



  <div class="title-box">
    <h1>List of Books</h1>
    <p class="lead">In this page, you can retrieve information from: <a href="http://books.toscrape.com/" target="_blank">http://books.toscrape.com/</a></p>
  </div>


  <div id="app" class="row">
  <div class="col-sm-4">
      <select class="form-control" id="exampleFormControlSelect1" v-model="search_term" v-on:change.prevent="getBooks()">
      <option value="">--ALL CATEGORIES--</option>
      <option v-for="category in categories" :value="category.c_id">${category.c_name}</option>
    </select>


    

  </div>
  <div class="col-sm-4"><input class="btn btn-primary btn-nueva" value="Fetch Data" type="button" v-on:click.prevent="fetchCategories()"></div>


   


  </div>


                   

  

 

</div>


<div id="starting">



      <div class="container">


      <div class="d-flex justify-content-center m-5" v-if="loading===true">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
      
        <div class="row">


        
          
            <table class="table table-bordered grocery-crud-table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
        <th>UPC</th>
        <th>Description</th>
        <th>Action</th>        
      </tr>
    </thead>
    <tbody>



      <tr v-for="book in books">
        <td>${book.b_id}</td>
        <td><img width="140" v-bind:src="`${book.b_thumbnail}`"></td>
        <td>${book.b_title}</td>
        <td>&euro;${book.b_price}</td>
        <td>${book.b_stock}</td>
        <td>${book.b_upc}</td>
        <td><textarea disabled rows="8">${book.b_product_descripcion}</textarea></td>
        <td><button class="btn btn-danger" v-on:click="deleteBook(book.b_id)">Delete</button></td>        
      </tr>

          </tbody>
  </table>


        </div>
      </div>
      
  

    </div>










<div id="modalMessage" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




 
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <script type="text/javascript">


    c = new Vue({
        el: '#app',
        delimiters: ['${','}'],
        data: {
            categories: [],
            loading: false,
            currentBook: {},
            message: null,
            newBook: { 'category_heading': null, 'category_body': null },
            search_term: '',
        },
        mounted: function() {
            this.getCategories();
        },
        methods: {
            getCategories: function() {
                this.loading = true;
                this.$http.get('/api/categories/')
                    .then((response) => {
                        this.categories = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                    this.loading = false;
                    console.log(err);
                    })
                },
            getBooks: function(){
              b.getBooks();
            },
            fetchCategories: function(){              
                b.loading = true;                
                this.$http.get('/fetch/categories/')
                    .then((response) => {
                        this.getCategories();
                        this.$http.get('/fetch/books/')
                        .then((response) => {
                            this.getBooks();                        
                            $("#modalMessage .modal-body").text(response.data.status);
                            $('#modalMessage').modal({backdrop: 'static', keyboard: false})
                            b.loading = false;                 
                        });
                    })
                    .catch((err) => {
                    b.loading = false;
                    console.log(err);
                    })
            }
        }
    });

    b = new Vue({
        el: '#starting',
        delimiters: ['${','}'],
        data: {
            books: [],
            loading: false,
            currentBook: {},
            message: null,
            newBook: { 'book_heading': null, 'book_body': null },
        },
        mounted: function() {
            this.getBooks();
        },
        methods: {
            getBooks: function() {

              let api_url = '/api/books/categories=2';
              if(c.search_term!==''||c.search_term!==null) {
                api_url = `/api/books/?categories=${c.search_term}`
              }
                this.loading = true;
                this.$http.get(api_url)
                    .then((response) => {
                        this.books = response.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                    this.loading = false;
                    console.log(err);
                    })
                },
            deleteBook: function(id) {
            this.loading = true;
            this.$http.delete(`/api/books/${id}/` )
                .then((response) => {
                    this.loading = false;
                    this.getBooks();
                })
                .catch((err) => {
                    this.loading = false;
                })
            }
        }
    });

 </script>

</body>
</html>